
header{
    border-bottom: 2px solid rgb(255, 249, 249);
    padding: 100px;
   
  
}
#logo{
    width: 250px;
    height: 250px;
   
   
}
body{
   background-image: linear-gradient(to bottom, black, white);
}
nav li{
    display: inline;
}
nav{
    text-align: right;
}
nav li{
    color: rgb(255, 254, 254);
}

nav li a{
    text-decoration: none;
    padding: 15px;
    color: rgb(255, 254, 254);
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav li a:hover{
   color: blue;
   font-size: 25px;
}
fieldset{
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    text-shadow: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
input{
    background-color: rgba(255,255,255,.6);
    height: 30px;
    padding-left: 15px;
}
textarea{
    background-color: rgba(255,255,255,.6);
    
    padding-left: 15px;
}
legend{
    text-align: center;
   
}